<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zylear.internalcontrol.admin.dao.mybatis.internalcontrol.AssetMapper">
    <resultMap id="BaseResultMap" type="com.zylear.internalcontrol.admin.domain.Asset">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="contract_number" property="contractNumber" jdbcType="VARCHAR"/>
        <result column="asset_number" property="assetNumber" jdbcType="VARCHAR"/>
        <result column="asset_type" property="assetType" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="prices" property="prices" jdbcType="DOUBLE"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, contract_number, asset_number, asset_type, remark, prices, is_deleted, create_time,
        last_update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_asset
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM t_asset
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zylear.internalcontrol.admin.domain.Asset">
        INSERT INTO t_asset (id, contract_number, asset_number,
                             asset_type, remark, prices,
                             is_deleted, create_time, last_update_time
        )
        VALUES (#{id,jdbcType=INTEGER}, #{contractNumber,jdbcType=VARCHAR}, #{assetNumber,jdbcType=VARCHAR},
                #{assetType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{prices,jdbcType=DOUBLE},
                #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zylear.internalcontrol.admin.domain.Asset">
        insert into t_asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="contractNumber != null">
                contract_number,
            </if>
            <if test="assetNumber != null">
                asset_number,
            </if>
            <if test="assetType != null">
                asset_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="prices != null">
                prices,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="contractNumber != null">
                #{contractNumber,jdbcType=VARCHAR},
            </if>
            <if test="assetNumber != null">
                #{assetNumber,jdbcType=VARCHAR},
            </if>
            <if test="assetType != null">
                #{assetType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="prices != null">
                #{prices,jdbcType=DOUBLE},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zylear.internalcontrol.admin.domain.Asset">
        update t_asset
        <set>
            <if test="contractNumber != null">
                contract_number = #{contractNumber,jdbcType=VARCHAR},
            </if>
            <if test="assetNumber != null">
                asset_number = #{assetNumber,jdbcType=VARCHAR},
            </if>
            <if test="assetType != null">
                asset_type = #{assetType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="prices != null">
                prices = #{prices,jdbcType=DOUBLE},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zylear.internalcontrol.admin.domain.Asset">
        UPDATE t_asset
        SET contract_number  = #{contractNumber,jdbcType=VARCHAR},
            asset_number     = #{assetNumber,jdbcType=VARCHAR},
            asset_type       = #{assetType,jdbcType=VARCHAR},
            remark           = #{remark,jdbcType=VARCHAR},
            prices           = #{prices,jdbcType=DOUBLE},
            is_deleted       = #{isDeleted,jdbcType=TINYINT},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByAssetNumber" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_asset
        WHERE is_deleted=0
        AND asset_number = #{assetNumber,jdbcType=VARCHAR}
    </select>

</mapper>