<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zylear.internalcontrol.admin.dao.mybatis.internalcontrol.ProjectBiddingMapper">
    <resultMap id="BaseResultMap" type="com.zylear.internalcontrol.admin.domain.ProjectBidding">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bidding_number" property="biddingNumber" jdbcType="VARCHAR"/>
        <result column="project_number" property="projectNumber" jdbcType="VARCHAR"/>
        <result column="bidding_name" property="biddingName" jdbcType="VARCHAR"/>
        <result column="prices" property="prices" jdbcType="DOUBLE"/>
        <result column="bidding_status" property="biddingStatus" jdbcType="TINYINT"/>
        <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="bidding_start_time" property="biddingStartTime" jdbcType="TIMESTAMP"/>
        <result column="bidding_end_time" property="biddingEndTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.zylear.internalcontrol.admin.domain.ProjectBidding"
               extends="BaseResultMap">
        <result column="bidding_content" property="biddingContent" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, bidding_number, project_number, bidding_name, prices, bidding_status, file_path,
        is_deleted, bidding_start_time, bidding_end_time, create_time, last_update_time
    </sql>
    <sql id="Blob_Column_List">
        bidding_content
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_project_bidding
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM t_project_bidding
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zylear.internalcontrol.admin.domain.ProjectBidding">
        INSERT INTO t_project_bidding (id, bidding_number, project_number,
                                       bidding_name, prices, bidding_status,
                                       file_path, is_deleted, bidding_start_time,
                                       bidding_end_time, create_time, last_update_time,
                                       bidding_content)
        VALUES (#{id,jdbcType=INTEGER}, #{biddingNumber,jdbcType=VARCHAR}, #{projectNumber,jdbcType=VARCHAR},
                                        #{biddingName,jdbcType=VARCHAR}, #{prices,jdbcType=DOUBLE},
                                        #{biddingStatus,jdbcType=TINYINT},
                                        #{filePath,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT},
                                        #{biddingStartTime,jdbcType=TIMESTAMP},
                                        #{biddingEndTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
                #{lastUpdateTime,jdbcType=TIMESTAMP},
                #{biddingContent,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zylear.internalcontrol.admin.domain.ProjectBidding">
        insert into t_project_bidding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="biddingNumber != null">
                bidding_number,
            </if>
            <if test="projectNumber != null">
                project_number,
            </if>
            <if test="biddingName != null">
                bidding_name,
            </if>
            <if test="prices != null">
                prices,
            </if>
            <if test="biddingStatus != null">
                bidding_status,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="biddingStartTime != null">
                bidding_start_time,
            </if>
            <if test="biddingEndTime != null">
                bidding_end_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="biddingContent != null">
                bidding_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="biddingNumber != null">
                #{biddingNumber,jdbcType=VARCHAR},
            </if>
            <if test="projectNumber != null">
                #{projectNumber,jdbcType=VARCHAR},
            </if>
            <if test="biddingName != null">
                #{biddingName,jdbcType=VARCHAR},
            </if>
            <if test="prices != null">
                #{prices,jdbcType=DOUBLE},
            </if>
            <if test="biddingStatus != null">
                #{biddingStatus,jdbcType=TINYINT},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="biddingStartTime != null">
                #{biddingStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="biddingEndTime != null">
                #{biddingEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="biddingContent != null">
                #{biddingContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zylear.internalcontrol.admin.domain.ProjectBidding">
        update t_project_bidding
        <set>
            <if test="biddingNumber != null">
                bidding_number = #{biddingNumber,jdbcType=VARCHAR},
            </if>
            <if test="projectNumber != null">
                project_number = #{projectNumber,jdbcType=VARCHAR},
            </if>
            <if test="biddingName != null">
                bidding_name = #{biddingName,jdbcType=VARCHAR},
            </if>
            <if test="prices != null">
                prices = #{prices,jdbcType=DOUBLE},
            </if>
            <if test="biddingStatus != null">
                bidding_status = #{biddingStatus,jdbcType=TINYINT},
            </if>
            <if test="filePath != null">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="biddingStartTime != null">
                bidding_start_time = #{biddingStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="biddingEndTime != null">
                bidding_end_time = #{biddingEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="biddingContent != null">
                bidding_content = #{biddingContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zylear.internalcontrol.admin.domain.ProjectBidding">
        UPDATE t_project_bidding
        SET bidding_number     = #{biddingNumber,jdbcType=VARCHAR},
            project_number     = #{projectNumber,jdbcType=VARCHAR},
            bidding_name       = #{biddingName,jdbcType=VARCHAR},
            prices             = #{prices,jdbcType=DOUBLE},
            bidding_status     = #{biddingStatus,jdbcType=TINYINT},
            file_path          = #{filePath,jdbcType=VARCHAR},
            is_deleted         = #{isDeleted,jdbcType=TINYINT},
            bidding_start_time = #{biddingStartTime,jdbcType=TIMESTAMP},
            bidding_end_time   = #{biddingEndTime,jdbcType=TIMESTAMP},
            create_time        = #{createTime,jdbcType=TIMESTAMP},
            last_update_time   = #{lastUpdateTime,jdbcType=TIMESTAMP},
            bidding_content    = #{biddingContent,jdbcType=LONGVARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zylear.internalcontrol.admin.domain.ProjectBidding">
        UPDATE t_project_bidding
        SET bidding_number     = #{biddingNumber,jdbcType=VARCHAR},
            project_number     = #{projectNumber,jdbcType=VARCHAR},
            bidding_name       = #{biddingName,jdbcType=VARCHAR},
            prices             = #{prices,jdbcType=DOUBLE},
            bidding_status     = #{biddingStatus,jdbcType=TINYINT},
            file_path          = #{filePath,jdbcType=VARCHAR},
            is_deleted         = #{isDeleted,jdbcType=TINYINT},
            bidding_start_time = #{biddingStartTime,jdbcType=TIMESTAMP},
            bidding_end_time   = #{biddingEndTime,jdbcType=TIMESTAMP},
            create_time        = #{createTime,jdbcType=TIMESTAMP},
            last_update_time   = #{lastUpdateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByBiddingName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_project_bidding
        WHERE is_deleted=0
        AND bidding_name = #{biddingName,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <select id="findByBiddingNumber" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_project_bidding
        WHERE is_deleted=0
        AND bidding_number = #{biddingNumber,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <select id="findByFilePath" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_project_bidding
        WHERE is_deleted = 0
        AND file_path = #{filePath,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <select id="findByPageParam" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_project_bidding
        WHERE is_deleted = 0
        LIMIT #{pageParam.offset,jdbcType=INTEGER},#{pageParam.pageSize,jdbcType=INTEGER}
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_project_bidding
        WHERE is_deleted = 0
    </select>

    <update id="updateStatus">
        UPDATE t_project_bidding
        SET bidding_status = #{biddingStatus,jdbcType=TINYINT}
        WHERE bidding_number = #{biddingNumber,jdbcType=VARCHAR}
    </update>


</mapper>